/* default font size and font family for web page */
body {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* pokedex text icon */
#logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}
/* pokemon "rotom" (#479 to search in the pokedex) icon */

#rotom {
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: contain;
}
/* custom CSS styles for pokemon types */
.normal {
  background-color: #a8a878;
  color: #fff;
}

.fire {
  background-color: #f08030;
  color: #fff;
}

.water {
  background-color: #6890f0;
  color: #fff;
}

.electric {
  background-color: #f8d030;
  color: #000;
}

.grass {
  background-color: #78c850;
  color: #000;
}

.ice {
  background-color: #98d8d8;
  color: #000;
}

.fighting {
  background-color: #c03028;
  color: #fff;
}

.poison {
  background-color: #a040a0;
  color: #fff;
}

.ground {
  background-color: #e0c068;
  color: #000;
}

.flying {
  background-color: #a890f0;
  color: #000;
}

.psychic {
  background-color: #f85888;
  color: #fff;
}

.bug {
  background-color: #a8b820;
  color: #000;
}

.rock {
  background-color: #b8a038;
  color: #fff;
}

.ghost {
  background-color: #705898;
  color: #fff;
}

.dragon {
  background-color: #7038f8;
  color: #fff;
}

.dark {
  background-color: #705848;
  color: #fff;
}

.steel {
  background-color: #b8b8d0;
  color: #000;
}

.fairy {
  background-color: #ee99ac;
  color: #000;
}
